.pagination {
    list-style: none;
    /* height: 31.5px;
    width: 31.5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    cursor: pointer;
}

.active {
    background-color: #1e50ff;
    border-radius: 50%;
}

.page-item {
    list-style: none;
    padding: 4px 4px;
    /* padding: 2px 12px;
    height: 31.5px;
    width: 31.5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}